/*******************************/
/*** Classes usado no menu ****/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    background-color: #117A25;
    position: static;
    left: 0px;
    top: 0px;
}

.nav{
    display: flex;
    flex-direction: row;    
}

.iconmenu{
    /* background-color: red; */
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.titlepage{
     /* background-color: blue; */
    color: white;   
    padding-top: 25px; 
    margin: 5px;   
}

.titlepage h1{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.titlepage h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
/*    Corpo   */

.main{
    
    display: flex;
    flex-direction: column;
    /* background-color: green;     */
}


.corpo{    
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: blue;     */
}
.infocurso{
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: red; */
}

.conceito{
    width: 159px;
    background: #117A25;
    border-radius: 5px;    
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cordenardor{    
    padding-top: 15px; 
    width: 100%;    
    text-align: center;
}    

.cordenardor img{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.titlemain{ 
    font-family: 'Roboto', sans-serif;
    font-style: normal;    
    font-weight: bold;
    text-align: center;
    color: #00420C;
}

.bodymain{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;    
    font-weight: normal;
    color: #000000;
}

.bodymain ul{
    margin: 15px;
}


/*    Footer  */
.footer{
    width: 100%;
    background-color: #00420C;
    position: static;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;  
}

.logofooter{    
    padding-top: 15px; 
    width: 100%;    
}    

.logofooter img{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ifroend{
    color: white;   
    padding-top: 15px; 
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px; 
}

.ifroend h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.ifroend h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}


@media (min-width: 600px) {
    .header{
        padding-left: 60px;
        
    }
    .main {
        width: 100%;     
        flex-direction: row;
    }

    .footer{
        padding-left: 60px;
        flex-direction: row;
    }
    .logofooter{      
        padding-top: 15px; 
        width: 20%;    
        height: 100%;
    }    
    
    .logofooter img{       
        display: block;

    }
    
  }