/*******************************/
/*** Classes usado no menu ****/
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    width: 100%;
    background-color: #117A25;
    position: static;
    left: 0px;
    top: 0px;
}

.nav{
    width:100%;
    display: flex;
    flex-direction: row;    
}

.iconmenu{
    /* background-color: red; */
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.titlepage{
     /* background-color: blue; */
    color: white;   
    padding-top: 25px; 
    margin: 5px;   
    width:100%;
}

.titlepage h1{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
}

.titlepage h4{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.optmenu{
    padding: 0;
    margin: 0;
}

.topmenu{
    display: none;
}

.topmenu  li{
    list-style: none;
    display: inline-block;
    padding: 10px;
    width: 100px;
    text-align: center;
}

.topmenu   li:hover{
    background-color:#60B752;
}

.topmenu li  a{
    color: #fff;
    text-decoration: none;
}
.sidemenu{
    z-index: 999;   
    width: 300px;
    height: 100%;
    position: absolute;
    transition: all .2s linear;
    background: #00420C;
    left: -300px;    
}

.input{
    display: none;
}
.sidemenu  li{
    list-style: none;
    display: block;
    padding: 30px;
}

.sidemenu  li:hover{
    background-color:#60B752;
}

.sidemenu li > a{
color: #fff;
text-decoration: none;
}
  
/*    Corpo   */

.main{    
    display: flex;
    flex-direction: column;
    /* background-color: green;     */
}


.corpo{    
    
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: blue;     */
}
.infocurso{    
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: red; */
}

.conceito{
    width: 159px;
    background: #117A25;
    border-radius: 5px;    
    text-align: center;
    color: white;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}

.cordenardor{    
    padding-top: 15px; 
    width: 100%;    
    text-align: center;
    color: #00420C;
}    

.cordenardor img{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cordenardor h1{
    
    font-size: 18px;
}

.titlemain{ 
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    color: #00420C;
}

.bodymain{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #000000;
    margin-bottom: 20px;

    
}

.tbdisciplina{
    border: 1px solid #000000;
    display: block;
    
}
.tbdisciplina thead{
    display: block;
    text-align: left;
    padding: 5px;
    border: 1px solid #000000;
    background-color: #E5E5E5;
}
.tbdisciplina li{
    list-style: none;

}
.bodymain ul{
    margin: 15px;
}


/*    Footer  */
.footer{    
    background-color: #00420C;
    display: flex;
    flex-direction: column;  
}

.logofooter{   
    padding-top: 15px;    
    display: block;
}    

.logofooter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ifroend{
    display: block;
    color: white;   
    margin-top: 15px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px; 
}

.ifroend h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
}

.ifroend h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}


@media (min-width: 600px) {

    .sidemenu{
        display: none;
    }

    .iconmenu{
        display: none;
    }
    .topmenu{
        display: block;
        width: 100%;
        background: #00420C;

    }
    .titlepage{
        padding-left: 40px;
    }

    .titlemain{ 
        text-align: left;
        padding: 15px;        
    }

    .corpo{        
        padding-left: 40px;
    }

    .bodymain{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 20px;
    }
    .tbdisciplina {
        width: 50%;
        
        display: inline-block;

    }
    .main {
        width: 100%;        
        flex-direction: row;
    }
    .corpo{
        width: 70%;
    }
    .infocurso{
        width: 30%;
    }

    .footer{
        width: 100%;    
        flex-direction: row;
    }

    .logofooter{      
        padding-left: 40px;
        padding-top: 15px; 
        width: 20%;    
        height: 100%;
    }

    .ifroend{
        width: 70%;
    }

    .logofooter img{       
        display: block;
        float: left;
    }
    
  }