/*******************************/
/*** Classes usado no menu ****/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.header{
    width: 100%;
    background-color: #117A25;
    position: static;
    left: 0px;
    top: 0px;
}

.nav{
    width:100%;
    display: flex;
    flex-direction: row;    
}

.iconmenu{
    /* background-color: red; */
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.titlepage{
     /* background-color: blue; */
    color: white;   
    padding-top: 25px;  
    padding-bottom: 10px; 
    width:80%;
}

.titlepage h1{
    font-size: 22px;
}

.titlepage h4{
    font-size: 14px;
}

.optmenu{
    padding: 0;
    margin: 0;
}

.topmenu{
    display: none;
}

.topmenu  li{
    width: 100px;
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;    
    text-align: left;
}

.topmenu   li:hover{
    background-color:#60B752;
}

.topmenu li  a{
    color: #fff;
    text-decoration: none;
}
.sidemenu{
    z-index: 999;   
    width: 300px;
    height: 100%;
    position: absolute;
    transition: all .2s linear;
    background: #00420C;
    left: -300px;    
}

.input{
    display: none;
}
.sidemenu  li{
    list-style: none;
    display: block;
    padding: 30px;
    
}

.sidemenu  li:hover{
    background-color:#60B752;
}

.sidemenu li > a{
    color: #fff;
    text-decoration: none;
}
  
/*    Corpo   */

.main{    
    display: flex;
    flex-direction: column;
    /* background-color: green;     */
}


.corpo{         
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: blue;     */
}
.infocurso{    
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: red; */
}

.conceito{
    width: 159px;
    min-height: 100px;
    background: #117A25;
    border-radius: 5px;    
    text-align: center;
    color: white;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;   
}

.cordenardor{    
    padding-top: 15px; 
    width: 100%;    
    text-align: center;
    color: #00420C;
}    

.cordenardor img{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cordenardor h1{    
    font-size: 18px;
}

.main_titleini h1{ 
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: normal;
    color: #00420C;
    padding-top: 60px;
}

.main_bodyini  p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color:black;
    margin-bottom: 20px;    
}


.main_bodyini ul{
    margin: 15px;
}

/*    Footer  */
.footer{    
    background-color: #00420C;
    display: flex;
    flex-direction: column;  
}

.logofooter{   
    padding-top: 15px;    
    display: block;
}    

.logofooter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ifroend{
    display: block;
    color: white;   
    margin-top: 15px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px; 
    padding-left: 20px;
}

.ifroend h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;  
}

.ifroend h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}


@media (min-width: 600px) {

    .sidemenu{
        display: none;
    }

    .iconmenu{
        display: none;
    }
    .topmenu{        
        display: block;
        width: 100%;
        background: #00420C;
    }
    .topmenu ul{
        padding-left: 80px;
    }
    .titlepage{
        padding-left: 80px;
    }

    .main_titleini h1{ 
        text-align: left;
        padding-top: 15px;   
        padding-bottom: 15px;  
        margin-top: 20px;
        margin-bottom: 20px;  
    }

    .corpo{        
        padding-left: 80px;
       
    }
    .tbdisciplina {
        width: 50%;
        
        display: inline-block;

    }
    .main {
        width: 100%;       
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .corpo{
        width: 60%;
    }
    .infocurso{
        width: 30%;
        padding-right: 40px; 
    }

    .footer{
        width: 100%;    
        flex-direction: row;
    }

    .logofooter{      
        padding-left: 70px;
        padding-top: 15px; 
        width: 10%;    
        height: 100%;
    }

    .ifroend{
        width: 70%;
    }

    .logofooter img{       
        display: block;
        float: left;
        width: 90px;
        padding: 10px;
    }
    
  }