/*******************************/
/*** Classes usado no menu ****/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}


.header{
    width: 100%;
    background-color: #117A25;
    position: static;
    left: 0px;
    top: 0px;
}

.nav{
    width:100%;
    display: flex;
    flex-direction: row;    
}

.iconmenu{
    /* background-color: red; */
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 10px;
}
.titlepage{
     /* background-color: blue; */
    color: white;   
    padding-top: 25px;  
    padding-bottom: 10px; 
    width:80%;
}

.titlepage h1{
    font-size: 22px;
}

.titlepage h4{
    font-size: 14px;
}

.optmenu{
    padding: 0;
    margin: 0;
}

.topmenu{
    display: none;
}

.topmenu  li{
    width: 100px;
    list-style: none;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 20px;    
    text-align: left;
}

.topmenu   li:hover{
    background-color:#60B752;
}

.topmenu li  a{
    color: #fff;
    text-decoration: none;
}
.sidemenu{
    z-index: 999;   
    width: 300px;
    height: 100%;
    position: absolute;
    transition: all .2s linear;
    background: #00420C;
    left: -300px;    
}

.input{
    display: none;
}
.sidemenu  li{
    list-style: none;
    display: block;
    padding: 30px;
    
}

.sidemenu  li:hover{
    background-color:#60B752;
}

.sidemenu li > a{
    color: #fff;
    text-decoration: none;
}
  
/*    Corpo   */

.main{    
    display: flex;
    flex-direction: column;
    /* background-color: green;     */
    margin-bottom: 30px;
}


.corpo{         
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: blue;     */
}
.infocurso{    
    padding-top:  15px;
    padding-right:  15px;
    padding-left:  15px;
    /* background-color: red; */
}

.conceito{
    width: 159px;
    min-height: 100px;
    background: #117A25;
    border-radius: 5px;    
    text-align: center;
    color: white;
    display: block;
    padding-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;   
}

.cordenardor{    
    padding-top: 15px; 
    width: 100%;    
    text-align: center;
    color: #00420C;
}    

.cordenardor img{
    padding: 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cordenardor h1{    
    font-size: 18px;
}

.main_titleini h1{ 
    font-family: 'Roboto', sans-serif;
    text-align: left;
    font-weight: normal;
    color: #00420C;
    padding-top: 60px;
}

.main_bodyini  p{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color:black;
    margin-bottom: 20px;    
}


.main_bodyini ul{
    margin: 15px;
}

/*    Footer  */
.footer{    
    background-color: #00420C;
    display: flex;
    flex-direction: column;  
}

.logofooter{   
    padding-top: 15px;    
    display: block;
}    

.logofooter img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ifroend{
    display: block;
    color: white;   
    margin-top: 15px; 
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 15px; 
    padding-left: 20px;
}

.ifroend h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;  
}

.ifroend h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}


@media (min-width: 600px) {

    .sidemenu{
        display: none;
    }

    .iconmenu{
        display: none;
    }
    .topmenu{        
        display: block;
        width: 100%;
        background: #00420C;
    }
    .topmenu ul{
        padding-left: 80px;
    }
    .titlepage{
        padding-left: 80px;
    }

    .main_titleini h1{ 
        text-align: left;
        padding-top: 15px;   
        padding-bottom: 15px;  
        margin-top: 20px;
        margin-bottom: 20px;  
    }

    .corpo{        
        padding-left: 80px;
       
    }
    .tbdisciplina {
        width: 50%;
        
        display: inline-block;

    }
    .main {
        width: 100%;       
        flex-direction: row;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .corpo{
        width: 60%;
    }
    .infocurso{
        width: 30%;
        padding-right: 40px; 
    }

    .footer{
        width: 100%;    
        flex-direction: row;
    }

    .logofooter{      
        padding-left: 70px;
        padding-top: 15px; 
        width: 10%;    
        height: 100%;
    }

    .ifroend{
        width: 70%;
    }

    .logofooter img{       
        display: block;
        float: left;
        width: 90px;
        padding: 10px;
    }
    
  }
  
.disciplina_title{
    text-align: center;
    font-size: 24px;
    color: #00420C;
    margin-top: 30px;
    margin-bottom: 40px;
}
@media(min-width: 600px) {
    .disciplina_title{
    text-align: left;
    margin-left: 20px;
    font-size: 36px;
    }
}

.table{
    width: 327px;
    display: block;
}
.table th{
    width: 325px;
}
  .table, .table th, .table{
    border: 1px black solid;
    border-collapse: collapse;
  }
  .table th, .table td{
    padding: 10px;
  }
  .table tr:nth-child(1){
    background-color: lightgrey;
  }
  .table tr:not(:nth-child(1)):hover{     
    background-color: lightgreen;
  }
  
  @media(min-width: 600px) {
    .tabelas{
        margin-left: 60px;
    }
    .table{
        margin-right: auto;
        width: 40%;
        display: inline-flex;
        height: 327px;
        justify-items: center;
  }
  .table th{
    width: 540px;
  }
}


.professores__titulo{
    font-size: 28px;
    color: #00420C;
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    padding: 20px;
    flex-wrap: wrap;
}
.professores__bloco{
    display: flex;
    flex-wrap: wrap;
    justify-content: initial;
}
@media(min-width: 600px) {
    .professores__bloco{
        justify-content: space-between;
    }
}
.professores__cartao{
    display: flex;
    flex-direction: row;
    align-items: top;
}
.professores__foto{
    border-radius: 5px;
    border: 1px #00420C solid;
    margin: 10px 15px;
}
.professores__nome{
    font-size: 18px;
    color: #00420C;
    margin-top: 20px;
    margin-right: 20px; 
    line-height: 1.5;
    max-width: 200px;
}
@media(min-width: 600px) {
    .professores__nome{
        width: 300px;
    }
}




/* CONTATO */
.contato_campo{
    display: flex;
    justify-content: center;
    margin-left: 20px;
}
@media(min-width: 600px) {
    .contato_campo{
        justify-content: initial;
        margin-left: 20px;
    }
}
.contato{
    margin: 30px 0;
    font-size: 24px;
    color: #00420C;
    text-align: center;
}
@media(min-width: 600px) {
    .contato{
        text-align: left;
        margin-left: 20px;
        font-size: 30px;
        margin-bottom: 40px;
    }
}
.label{
    font-size: 12px;
    color: #117A25;
    width: 50px;
}
@media(min-width: 600px) {
    .label{
        font-size: 16px;
        width: 100px;
    }
}
.campo{
    border: 0;
    border-bottom: 1px #00420C solid;
    width: 327px;
    color: #00420C;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: -50px;
    outline: 0;
  }
  @media(min-width: 600px) {
      .campo{
          margin-left: -100px;
          width: 500px;
          margin-top: 30px;
          margin-bottom: 35px;
      }
  }
  .btn__enviar{
      width: 50%;
      height: 39px;
      border-radius: 5px;
      border: 0;
      color: white;
      text-align: center;
      background-color: #117A25;
      margin-left: auto;
      margin-right: auto;
  }
  @media(min-width: 600px) {
      .btn__enviar{
          width: 80px;
          height: 30px;
         display: block;
         margin-left: 420px;
      }
  }
